
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: whitesmoke;
  width: 900px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  letter-spacing: 3px;
}

ul {
  margin: 0;
  text-align: center;
  list-style: none;
}

li {
  margin: 0;
}
